/* ===========*/
/* CSS RESET */
/* ===========*/
body {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

.drawing {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(76,35,111);
    background: radial-gradient(circle, rgba(76,35,111,1) 0%, rgba(35,22,81,1) 100%); 

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) 30vh;
    justify-items: center;
    align-items: end;
}

.knight {
    grid-column: 3;
    grid-row: 2;
}

.cristal.first {
    grid-column: 4;
    grid-row: 2;
    z-index: 50;
}
.cristal.second {
    grid-column: 2;
    grid-row: 2;
    z-index: 50;
}
.cristal.third {
    grid-column: 1;
    grid-row: 3;
    z-index: 50;
    transform: translateX(-10%);
    width: 110%;
}
.cristal.fourth {
    grid-column: 5;
    grid-row: 3;
    z-index: 50;
    width: 130%;
    transform: translateY(2%);
}

.floor{
    grid-column: 1/6;
    grid-row: 3;
}


/* ==================*/
/* ESSENCTIAL STYLING*/
/* ==================*/

/* ===========*/
/*   COLORS */
/* ===========*/
:root{
    --black: #000000;
    --blue: #373274;
    --dark-blue: #242c3f;
    --light-blue: #424f6b;
    --purple1: #000000;
    --purple2: #000000;
    --purple3: #000000;
    --purple4: #000000;
}

/* ===========*/
/* KNIGHT */
/* ===========*/
.knight {
    position: relative;
}

.knight div {
    position: absolute;
    width: 15vw;
    height: calc(15vw * 1.75);
}
.knight .helmet{
    z-index: 30;
    position: relative;
}

.eyes {
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    z-index: 31;
    position: relative;
    right: -40%;
    top: -55%;
    animation-name: eyes-moving;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.eyes::before ,
.eyes::after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    background-color: var(--black);
    position: absolute;
}
.eyes::before{
    transform: translateX(-100%);
}
.eyes::after{
    transform: translateX(100%);
}

@keyframes eyes-moving {
   0% {
    right: -40%;
    top: -55%;
   } 
   15% {
    right: -35%;
    top: -58%;
   } 
    25% {
    right: -45%;
    top: -58%;
    }  
    35% {
    right: -45%;
    top: -55%;
    }  
    45% {
    right: -35%;
    top: -55%;
    }  
   65% {
    right: -40%;
    top: -55%;
   } 
   100% {
    right: -40%;
    top: -55%;
   } 
}

.knight .body{
    z-index: 10;
}

.cape {
    width: 100%;
}

.left-cape > .feather,
.right-cape > .feather {
    background-color: var(--dark-blue);
    width: 60%; 
    height: calc(15vw * 0.25);
    border: 3px solid var(--black);
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
    position: absolute;
    z-index: 20;
    bottom: 25%;
    right: 0;
}

.left-cape :first-child,
.right-cape :first-child {
    z-index: 21;
    transform: rotate(70deg) translateY(120%);
}
.left-cape :nth-child(2),
.right-cape :nth-child(2) {
    z-index: 22;
    transform: rotate(80deg) translateY(120%);
}
.left-cape :nth-child(3),
.right-cape :nth-child(3) {
    z-index: 23;
    transform: rotate(90deg) translateY(120%);
}

.left-cape {
    z-index: 20;
    transform: scaleX(-1) rotate(10deg) translateX(12%);
}

/* ===========*/
/* CRISTALS */
/* ===========*/

.cristal{
    position: relative;
    display: flex;
}

.cristal *{
    align-self: stretch;
}
.cristal > svg,
.cristal > img{
    width: 100%;
    z-index: 50;
}

.glow{
    width: 100%;
    height: 100%;
    z-index: 30;
    position: absolute;
    background: radial-gradient(circle, rgba(255, 187, 240, 0.8) 0%, rgba(255,255,255,0) 60%);
    border-radius: 100%;
    transition: all 1s ;
    opacity: 0;
    filter: blur(4px);
    mix-blend-mode: multiply;
}

svg:hover + .glow,
img:hover + .glow{
    opacity: 100;
}

/* ===========*/
/* FLOOR */
/* ===========*/

.floor {
    background-color: var(--blue);
    height: 35vh;
    width: 100%;
}

/* ===================*/
/* OVERLAY AND SPARKS=*/
/* ===================*/

.overlay-effect {
    content: '';
    width: 120vw;
    height: 120vh;
    position: absolute;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%); 
    z-index: 39;
    animation: flicker 3s infinite;
    bottom: -10%;
}
@keyframes flicker {
    0% { transform: scale(1); }
    4% { transform: scale(1.1); }
    10% { transform: scale(0.95); }
    12% { transform: scale(1); }
    18% { transform: scale(1); }
    20% { transform: scale(1.2); }
    27% { transform: scale(1); }
    32% { transform: scale(0.95); }
    42% { transform: scale(1); }
    45% { transform: scale(0.95); }
    49% { transform: scale(1); }
}

.sparkle-effect{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 42;
    grid-column: 1/6;
    grid-row: 1/4;
}

.sparkles ~ .sparkles {
    position: absolute;
    background: radial-gradient(closest-side circle at center, transparent 50%, hsla(296, 10%, 70%, 0.4) 90%, transparent 100%);
}

.sparkle-effect :first-child {
    position: absolute;
    background: radial-gradient(closest-side circle at center, transparent 50%, hsla(296, 10%, 70%, 0.4) 90%, transparent 100%);
    width: 6%;
    height: 10%;
    right: 60%;
    bottom: 70%;
    animation: twinkle 5s infinite;
}

.sparkle-effect :nth-child(2){
    width: 25%;
    height: 25%;
    right: 75%;
    bottom: 40%;
    animation: twinkle 5s infinite;
    animation-delay: 3s;
}
.sparkle-effect :nth-child(3){
    width: 30%;
    height: 30%;
    right: 15%;
    bottom: -10%;
    animation: twinkle 7s infinite;
    animation-delay: 1s;
}
.sparkle-effect :nth-child(4){
    width: 8%;
    height: 8%;
    right: 15%;
    bottom: 50%;
    animation: twinkle 7s infinite;
}
.sparkle-effect :nth-child(4){
    width: 8%;
    height: 8%;
    right: 15%;
    bottom: 50%;
    animation: twinkle 5s infinite;
    animation-delay: 4s;
}
.sparkle-effect :nth-child(5){
    width: 30%;
    height: 30%;
    right: 5%;
    bottom: 80%;
    animation: twinkle 10s infinite;
    animation-delay: 2s;
}
.sparkle-effect :nth-child(6){
    width: 30%;
    height: 30%;
    right: 80%;
    bottom: 80%;
    animation: twinkle 9s infinite;
    animation-delay: 5s;
}

@keyframes twinkle {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
    
}